{% extends 'base.html' %}
{% block content %}
<a href="{% url 'childrencreate' %}" class="btn btn-block btn-primary">Add</a>
{% if object_list %}
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>姓名</th>
        <th>年龄</th>
        <th>天龄</th>
        <th>出生日期</th>
        <th>详情</th>
    </tr>
    {% for x in object_list %}
    <tr>
        <td>{{ x.name }}</td>
        <td>{{ x.age_year }}</td>
        <td>{{ x.age_day }}</td>
        <td>{{ x.birthday|date:'Y-m-d' }}</td>
        <td><a href="{% url 'childrendetail' x.id %}">详情</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock%}